<turbo-frame id="modal-body" >
  <div class='flex  <%= check_click(@whiistle) %> '>
    <%= render Users::ProfileImageButtonComponent.new(user: @whiistle.user) %>
    
    <div class="pl-2">

      <%= render Whiistles::UserNamesWithTimestampComponent.new(whiistle: @whiistle) %>
      
      <div class="mt-2">
        <%= render Whiistles::BodyAndPicturesComponent.new(whiistle: @whiistle, show_pictures: false) %>
      </div>

      <%= render Whiistles::ReplyInfoComponent.new(whiistle: @whiistle) %>

    </div>
  </div>
  
  <%= 
    render Whiistles::FormComponent.new(
      form_url: whiistle_reply_index_url(@whiistle), 
      whiistle: @reply,
      label: "Whiistle your reply",
      enable_quoting_whiistle: true
    ) 
  %>
  
</turbo-frame>