<div class="my-4">

  <div class='flex'>
    
    <div class="">
      <div class="flex">
        <div class="mr-2">
          <%= render component("users/profile_image_button", user: @whiistle.user) %>
        </div>
        <%= render component("whiistles/user_names_vertical", user: @whiistle.user) %>
      </div>
      
      <div class="mt-4">
        <%= render component("whiistles/reply_info", whiistle: @whiistle) %>
      </div>
      
      <div class="mt-2 ">
        <div class="text-2xl my-4">
          <%= render component("whiistles/body_and_pictures", whiistle: @whiistle) %>
        </div>
        <div>
          <%= @whiistle.created_at %>
        </div>
      </div>
      
      <%= render component("whiistles/buttons", whiistle: @whiistle, current_user_presenter: @current_user_presenter) %>
    </div>
  </div>
</div>