<% if @like.saved_changes? %>
  <%= turbo_stream.update whiistle_like_button_target(@like.whiistle) do %>
    <%= button_to whiistle_like_path(@like.whiistle, @like), method: :delete, class: "p-2" do %>
      <i class="bi bi-heart-fill text-second ">
        <span><%= @like.whiistle.likes.size %></span> 
      </i>
    <% end %>
  <% end %>
<% end %>

<%= turbo_stream.update "flashes" do %>
    <%= check_notice %>
    <%= check_alert %>
<% end %>