<%= simple_form_for resource, url: registration_path(resource_name), html: { class: "w-96 self-items mx-auto mt-8" } do |f| %>
  <h2 class="text-center pb-8">Edit <%= resource_name.to_s.humanize %></h2>
  
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <%= f.input :username, required: true %>
  <%= f.input :fullname, required: true %>
  <%= f.input :email, placeholder: 'example@example.com' %>
  
  <div class="flex py-2">
    <%= f.label :cover_image, class: "mr-auto self-center" %>
    <%= f.input :cover_image, as: :file, label: "Choose", wrapper: :file_wrapper %>
  </div>

  <div class="flex py-2">
    <%= f.label :profile_picture, class: "mr-auto self-center" %>
    <%= f.input :profile_picture, as: :file, label: "Choose", wrapper: :file_wrapper %>
  </div>

  <%= f.input :current_password, as: :hidden, input_html: {value: 'aaaaaa'} %>

  <%= f.button :submit, "Update" %>

  <%= link_to user_registration_path, class: "btn-first py-2 px-4 mb-8 my-4", data: { "turbo-method": :delete } do %>
    <div class="w-auto">
      Delete account
    </div>
  <% end %>
<% end %>


