<%= simple_form_for resource, url: registration_path(resource_name) do |f| %>
  <h2 class="text-center pb-8">Sign Up</h2>
  
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <%= f.input :username, required: true %>
  <%= f.input :fullname, required: true %>
  <%= f.input :email, placeholder: 'example@example.com' %>
  
  <div class="flex py-2">
    <%= f.label :cover_image, class: "mr-auto self-center" %>
    <%= f.input :cover_image, as: :file, label: "Choose", wrapper: :file_wrapper %>
  </div>

  <div class="flex py-2">
    <%= f.label :profile_picture, class: "mr-auto self-center" %>
    <%= f.input :profile_picture, as: :file, label: "Choose", wrapper: :file_wrapper %>
  </div>

  <%= f.input :password, as: :hidden, input_html: {value: 'aaaaaa'} %>
  <%= f.input :password_confirmation, as: :hidden, input_html: {value: 'aaaaaa'} %>

  <%= f.button :submit, "Sign Up" %>

  <%= render "devise/shared/links" %>  
<% end %>

