<%= render Whiistles::ButtonContainer::Component.new do %>
  <%= link_to new_whiistle_reply_path(@whiistle), data: { action: "modal#openAndVisit" } do %>
    <%= render Whiistles::ButtonInner::Component.new do %>
      <i class="bi bi-chat " > </i>
      <span id="<%= whiistle_reply_counter_target(@whiistle) %>" >
        <%= @whiistle.replies.size %> 
      </span>
    <% end %>
  <% end %>
<% end %>