<div 
  data-controller="pagination"
  data-pagination-url-value=<%= @url %>
  data-pagination-current-page-value=<%= @page %>
  data-pagination-max-page-value=<%= @last_page %>
  data-pagination-request-value="false"
  class="p-4 mt-4"
>
  <div id="pagination-body">
    <%= content %>
  </div>

  <div
    class="w-full h-32 mt-32 flex justify-center"
    data-pagination-target="loading"
  >
    <%= render "shared/spinner" %>
  </div>
</div>