<%= link_to user_whiistles_path(@whiistle.user) do %>
  <span class="text-dark">
    <%= @whiistle.user.fullname %>
  </span>
  @<%= @whiistle.user.username %>
<% end %>
- 
<%= link_to whiistle_path(@whiistle) do %>
  <%= distance_of_time_in_words(Time.now, @whiistle.created_at, compact: true, highest_measure_only: true) %>    
<% end %>
