<div class='bg-fourth flex grow'>
    <div class="w-2/3">
        <div style="background-image: url('<%= cover_image_url(@user) %>');", class="h-60 bg-cover bg-center w-full bg-third">
        </div>

        <div data-controller="tabs" data-tabs-active-tab="border-b border-solid border-second" data-tabs-index=<%= tab_index(active_tab) %>>
            <ul class="list-reset flex">
                <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
                    <a class="block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline" href="#">Whiistles</a>
                </li>
                <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
                    <a class="block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline" href="#">Following</a>
                </li>
                <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
                    <a class="block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline" href="#">Followers</a>
                </li>
                
            </ul>

        
            <div class="hidden py-4 px-4" data-tabs-target="panel">
                <% if active_tab == "whiistles" %>
                    <%= render partial: "users/whiistles_frame" %>
                <% else %>
                    <turbo-frame id=<%= dom_id(@user, :whiistles) %> src=<%= user_path(@user) %> loading="lazy" >
                        <%= render "shared/spinner" %>
                    </turbo-frame>
                <% end %>
                
            </div>

            <div class="hidden py-4 px-4" data-tabs-target="panel">
                <% if active_tab == "followings" %>
                    <%= render "users/followings_frame" %>
                <% else %>
                    <turbo-frame id=<%= dom_id(@user, :followings) %> src=<%= user_followings_path(@user) %> loading="lazy" >
                        <%= render "shared/spinner" %>
                    </turbo-frame>

                <% end %>
            </div>

            <div class="hidden py-4 px-4" data-tabs-target="panel">
                <% if active_tab == "followers" %>
                    <%= render partial: "users/followers_frame" %>
                <% else %>
                    <turbo-frame id=<%= dom_id(@user, :followers) %> src=<%= user_followers_path(@user) %> loading="lazy" >
                        <%= render "shared/spinner" %>
                    </turbo-frame>
                <% end %>
            </div>

        </div>



        
    </div>
    <div class="w-1/3">
        <%= render "users/sidebar_right" %>
    </div>
</div>
