<div class='bg-fourth flex grow'>
    <div class="w-full">
        <div style="background-image: url('<%= cover_image_url(@user) %>');", class="h-60 bg-cover bg-center w-full">
        </div>
        <div class='w-full p-4'>
            <%= form_with model: @whiistle, class: "p-4 bg-white rounded border" do |f| %>
                <%= f.label "Whiistle to #{@user.fullname}", class:"text-uppercase py-2" %> <br>
                <%= f.text_area :body, size: "60x4", value: "@#{@user.username} ", class: "p-2 w-full border" %>
                <%= f.hidden_field :user_id, value: @user.id %>
                <div class="flex justify-content-end pt-2">
                    <%= f.submit "Whiistle", name:'submit', class: "custom_button " %>
                </div>
            <% end %>
            <div class="p-4 bg-white mt-4 rounded border">
                <div class="pb-4 text-second-color border-bottom">
                    <h1> <%= pluralize(@whiistles.size, 'Whiistle') %></h1>
                </div>
                <%= render 'whiistles/list_whiistles',whiistles: @whiistles %>
            </div>
        </div>
    </div>
    <div class='sidebar-right border-left flex-shrink-0'>
        <div class='text-center pt-4 '>
            <div class="flex">
                <div class="flex align-items-center mx-auto">
                    <%= add_delete_following(@user) %>
                    <%= image_tag( show_profile_picture(@user.profile_picture), size: '50x50', class: 'rounded-circle border') %>
                    <a href="#">
                        <i class="border rounded-circle fas fa-list p-2 mx-2"></i>
                    </a>
                </div>
            </div>
            <div class="py-2 text-dark">
                <%= @user.fullname %>
            </div>
            <div class="pb-3 ">
                @<%= @user.username %>
            </div>
        </div>
        <div class="flex ">
            <div class="border border-light-color text-center col-4 py-2 px-0">
                <div class="text-dark w-100">
                    <%= @whiistles.size %>
                </div>
                <a href="#">
                    <div>
                        Whiistles
                    </div>
                </a>
            </div>
            <div class="border border-light-color text-center col-4 py-2 px-0">
                <div class="text-dark w-100">
                    <%= @followings.size %>
                </div>
                <a href="#">
                    <div>
                        Followings
                    </div>
                </a>
            </div>
            <div class="border border-light-color text-center col-4 py-2 px-0">
                <div class="text-dark w-100">
                    <%= @followers.size %>
                </div>
                <a href="#">
                    <div>
                        Followers
                    </div>
                </div>
            </a>
        </div>
        <h1 class="py-4 pl-4 text-third-color border-bottom">Followed by</h1>
        <%= render 'list_users', users: @followers  %>
    </div>
</div>
