<div class='bg-fourth flex grow'>
    <div class="w-2/3">
        <div style="background-image: url('<%= cover_image_url(@user) %>');", class="h-60 bg-cover bg-center w-full bg-third">
        </div>
        <div class='w-full p-4'>
            <%= form_with model: @whiistle, class: "p-4 bg-white rounded border" do |f| %>
                <%= f.label "Whiistle to #{@user.fullname}", class:"text-uppercase py-2" %> <br>
                <%= f.text_area :body, size: "60x4", value: "@#{@user.username} ", class: "p-2 w-full border" %>
                <%= f.hidden_field :user_id, value: @user.id %>
                <div class="flex justify-content-end pt-2">
                    <%= f.submit "Whiistle", name:'submit', class: "custom_button " %>
                </div>
            <% end %>
            <div class="p-4 bg-white mt-4 rounded border">
                <div class="pb-4 text-second-color border-bottom">
                    <h1> <%= pluralize(@whiistles.size, 'Whiistle') %></h1>
                </div>
                <%= render 'whiistles/list_whiistles',whiistles: @whiistles %>
            </div>
        </div>
    </div>
    <div class="w-1/3">
        <%= render "sidebar_right" %>
    </div>
</div>
