<div class="flex items-center">
    
    <div id=<%= whiistle_like_button_target(whiistle) %>>
        <% if Like.find_by(whiistle_id: whiistle.id, user_id: current_user.id) %>
            <%= button_to whiistle_like_path(whiistle, Like.find_by(whiistle_id: whiistle.id, user_id: current_user.id)), method: :delete, class: "p-2" do %>
                <i class="bi bi-heart-fill text-second ">
                    <span><%= whiistle.likes.size %></span> 
                </i>
            <% end %>
        <% else %>
            <%= button_to whiistle_likes_path(whiistle), class: "p-2" do %>
                <i class="bi bi-heart ">
                    <span><%= whiistle.likes.size %></span> 
                </i>
            <% end %>
        <% end %>
    </div>

    
</div>