<div class="my-4">

  <%= render "whiistles/rewhiistle_info", whiistle: whiistle, user: @user %>
  <%= render "whiistles/like_info", whiistle: whiistle %>

  <div class='flex  <%= check_click(whiistle) %> '>
    
    <%= render_profile_image_standard(whiistle.user) %>
    
    <div class="pl-2">
      <%= render "whiistles/user_names_with_timestamp", whiistle: whiistle %>
      <%= render "whiistles/reply_info", whiistle: whiistle %>
      <div class="mt-2">
        <%= render "whiistles/body_and_pictures", whiistle: whiistle %>
      </div>
      <%= render "whiistles/buttons", whiistle: whiistle %>

      <% if local_assigns[:show_flood_info] %>
        <%= render "whiistles/flood_info", whiistle: whiistle %>  
      <% end %>

    </div>
  </div>
</div>