
<div class='flex my-4 <%= check_click(whiistle) %> '>
  <%= link_to user_whiistles_path(whiistle.user), class: "hover-image shrink-0" do %>
    <div>
      <%= image_tag( show_profile_picture(whiistle.user.profile_picture), size: '50x50') %>
    </div>
  <% end %>
  <div class="pl-2">
    <%= link_to user_whiistles_path(whiistle.user) do %>
      <span class="text-dark">
        <%= whiistle.user.fullname %>
      </span>
      @<%= whiistle.user.username %>
    <% end %>
    <div class="mt-2">
      <%= link_to whiistle_path(whiistle) do %>
        <%= whiistle.body  %>
      <% end %>
      
      <%= render "whiistles/pictures", whiistle: whiistle %>
    </div>
    <% if whiistle.is_a? QuotedWhiistle %>
      <%= render "whiistles/quoted_whiistle", whiistle: whiistle.whiistle %>
    <% end %>
    <div class="flex"> 
      <%= render "whiistles/reply_button", whiistle: whiistle %>
      <div class="relative p-2" data-controller="dropdown">
        <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
          <i class="bi bi-repeat">
            <span class="px-2">
              <%= whiistle.rewhiistles.size + whiistle.quoted_whiistles.size %>  
            </span>
          </i>
        </div>
        <div data-dropdown-target="menu" class="absolute left-0 top-full mt-2 hidden z-10 w-auto">
          <div class="bg-white shadow rounded overflow-hidden p-2 border border-solid" data-action="click->dropdown#toggle">
            <%= render "whiistles/toggle_rewhiistle_button", whiistle: whiistle %>
            <%= render "whiistles/quoted_whiistle_button", whiistle: whiistle %>
          </div>
        </div>
      </div>
      <%= render "whiistles/like_button", whiistle: whiistle %>
    </div>

    <turbo-frame id=<%= whiistle_reply_form_target(whiistle) %> >
    </turbo-frame>
    <turbo-frame id=<%= whiistle_quoted_whiistle_form_target(whiistle) %> >
    </turbo-frame>

  </div>
</div>
