
<div class='flex my-4 <%= check_click(whiistle) %> '>
  <%= link_to user_whiistles_path(whiistle.user), class: "hover-image" do %>
    <div>
      <%= image_tag( show_profile_picture(whiistle.user.profile_picture), size: '50x50') %>
    </div>
  <% end %>
  <div class="pl-2">
    <%= link_to user_whiistles_path(whiistle.user) do %>
      <span class="text-dark">
        <%= whiistle.user.fullname %>
      </span>
      @<%= whiistle.user.username %>
    <% end %>
    <div class="mt-2">
      <%= link_to whiistle_path(whiistle) do %>
        <%= whiistle.body  %>
      <% end %>
      
      <%= render "whiistles/pictures", whiistle: whiistle %>
    </div>
    <% if whiistle.is_a? QuotedWhiistle %>
      <%= render "whiistles/quoted_whiistle", whiistle: whiistle.whiistle %>
    <% end %>
    <div> 
      <%= render "whiistles/reply_button", whiistle: whiistle %>
      <i class="bi bi-repeat">Share</i>
      <%= render "whiistles/like_button", whiistle: whiistle %>
    </div>

    <turbo-frame id=<%= whiistle_reply_form_target(whiistle) %> >
    </turbo-frame>

  </div>
</div>
