<div class='bg-fourth-color d-flex'>
    <div class='center w-100 p-4'>
        <%= form_with model: @whiistle, class: "p-4 bg-white rounded border" do |f| %>
            <%= f.label "Whiistle something", class: "py-2 text-uppercase" %> <br>
            <%= f.text_area :body, class: "p-2 w-100 border", rows: "4", placeholder: 'Write a whiistle'  %>
            <div class="d-flex justify-content-end pt-2">
                <%= f.submit "Whiistle", class: "bg-second-color rounded border-0 text-fourth-color p-2 px-4 " %>
            </div>
        <% end %>
        <div class="p-4 bg-white mt-4 rounded border">
            <div class="pb-4 text-second-color border-bottom">
                <h1> <%= pluralize(@whiistles.size, 'Whiistle') %></h1>
            </div >
            <div class="mt-3">
                <% @whiistles.each do |w|  %>
                    <div class='d-flex my-2'>
                        <div>
                            <%= show_profile_picture(w.user) %>
                        </div>
                        <div class="pl-2">
                            <div class="text-dark">
                                <%= w.user.username %>
                            </div>
                            <div>
                                <%= w.body  %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class='sidebar-right border-left flex-shrink-0'>
        <h1 class="py-4 pl-4 text-third-color border-bottom">Who To Follow</h1>
        <% @suggested_users.last(3).reverse.each do |user| %>
            <div class="px-4 py-2 d-flex">
                <div>
                    <%= rounded_profile_picture(user) %>
                </div>
                <div class="pl-2">
                    <div class="text-dark">
                        <%= link_to user.fullname, user_path(user) %>
                    </div>
                    <div>
                        @<%= link_to user.username, user_path(user) %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
