<div class='flex grow'>
    <div class='p-4 w-2/3'>

        <%= render Whiistles::FormOpeningModal::Component.new(label: "Whiistle something", whiistle: @whiistle, path: new_whiistle_path) %>
        
        <div class="p-4 mt-4 ">
            <%= render Whiistles::WhiistlesCounter::Component.new(whiistles_count: @paginated_whiistles.count) %>


            <%= render Shared::InfiniteScroll::Component.new(paginated_records: @paginated_whiistles) do %>
                <%= render @paginated_whiistles.component_class.new whiistles: @paginated_whiistles.records, current_user_presenter: @current_user_presenter %>
            <% end %>
        </div>
    </div>
    <div class='w-1/3'>
        <h1 class="py-4 pl-4">Who To Follow</h1>
        <%= render Users::User::Component.with_collection(@suggested_users, cur_user: current_user) %>
    </div>
</div>
