<div class='flex grow'>
    <div class='p-4 w-2/3'>
        
        <%= 
            render Whiistles::FormComponent.new(
                form_url: whiistles_url, 
                whiistle: @whiistle,
                label: "Whiistle something",
                enable_quoting_whiistle: true,
                enable_adding_floods: true
            )
        %>
        
        <div class="p-4 mt-4 ">
            <%= render Whiistles::WhiistlesCounterComponent.new(whiistles_count: @paginated_whiistles.count) %>


            <%= render Shared::InfiniteScrollComponent.new(paginated_records: @paginated_whiistles) do %>
                <%= render @paginated_whiistles.component_class.new whiistles: @paginated_whiistles.records, current_user_presenter: @current_user_presenter %>
            <% end %>
        </div>
    </div>
    <div class='w-1/3'>
        <h1 class="py-4 pl-4">Who To Follow</h1>
        <%= render Users::UserComponent.with_collection @suggested_users, cur_user: current_user %>
    </div>
</div>
