<div class='flex grow'>
    <div class='p-4 w-2/3'>
        <%= simple_form_for @whiistle, html: { class: "w-full" } do |f| %>
          <%= f.input :body, as: :text, label: "Whiistle something", wrapper: :whiistle_wrapper %>
          
          <div class="w-full flex">
            <%= f.label :pictures, class: "bi bi-images py-2 px-4 my-4 btn-second" do %>
            <% end %>
            <%= f.input :pictures, as: :file, input_html: { multiple: true }, wrapper: :whiistle_file_wrapper  %>

            <div class="ml-auto ">
              <%= f.button :submit, "Whiistle" %>
            </div>
          </div>

          <div data-controller="flood">
            <template data-flood-target='template'>
              <%= f.simple_fields_for :floods, Flood.new, index: 'TEMPLATE_RECORD' do |flood| %>
                <%= render 'flood_whiistle_form', form: flood %>
              <% end %>
            </template>

            <div data-flood-target="add_item">
              <%= link_to "Add Flood", "#", data: { action: "click->flood#add_association" } %>
            </div>
            
          </div>
          
        <% end %>
        
        <div class="p-4 mt-4 ">
            <%= render "whiistles/whiistles_counter", whiistles: @all_whiistles %>

            <div 
              data-controller="pagination"
              data-pagination-url-value="<%= whiistles_url %> "
              data-pagination-current-page-value="<%= @page %>"
              data-pagination-max-page-value="<%= @last_page %>"
              data-pagination-request-value="false"
            >
              <div id="whiistles">
                <%= render 'whiistles/list_whiistles', whiistles: @paginated_whiistles %>
              </div>

              <div
                class="w-full h-32 mt-32 flex justify-center"
                data-pagination-target="loading"
              >
                <%= render "shared/spinner" %>
              </div>
            </div>
        </div>
    </div>
    <div class='w-1/3'>
        <h1 class="py-4 pl-4">Who To Follow</h1>
        <%= render 'users/list_users', users: @suggested_users %>
    </div>
</div>
