<div class='flex grow'>
    <div class='p-4 w-2/3'>
        <%= simple_form_for @whiistle, html: { class: "w-full" } do |f| %>
          <%= f.input :body, as: :text, label: "Whiistle something", wrapper: :whiistle_wrapper %>
          
          <div class="w-full flex">
            <%= f.label :pictures, class: "bi bi-images py-2 px-4 my-4 btn-second" %>
            <%= f.input :pictures, as: :file, input_html: { multiple: true }, wrapper: :whiistle_file_wrapper  %>

            <div class="ml-auto ">
              <%= f.button :submit, "Whiistle" %>
            </div>
          </div>

          <div data-controller="flood">
            <template data-flood-target='template'>
              <%= f.simple_fields_for :floods, Flood.new, index: 'TEMPLATE_RECORD' do |flood| %>
                <%= render 'flood_whiistle_form', form: flood %>
              <% end %>
            </template>

            <div data-flood-target="add_item">
              <%= link_to "Add Flood", "#", data: { action: "click->flood#add_association" }, class: "btn-second w-24 p-2" %>
            </div>
            
          </div>
          
        <% end %>
        
        <div class="p-4 mt-4 ">
            <%= 
              render "shared/infinite_scroll_for_whiistles_index_page", 
                      all_whiistles: @all_whiistles,
                      paginated_whiistles: @paginated_whiistles,
                      container_id: "whiistles",
                      url: whiistles_url,
                      last_page: @last_page,
                      page: @page
            %>
            
        </div>
    </div>
    <div class='w-1/3'>
        <h1 class="py-4 pl-4">Who To Follow</h1>
        <%= render 'users/list_users', users: @suggested_users %>
    </div>
</div>
