<div class='flex grow'>
    <div class='p-4 w-2/3'>
        <%= simple_form_for @whiistle, html: { class: "w-full" } do |f| %>
          <%= f.input :body, as: :text, label: "Whiistle something", wrapper: :whiistle_wrapper %>
          
          <div class="w-full flex">
            <%= f.label :pictures, class: "bi bi-images py-2 px-4 my-4 btn-second" do %>
            <% end %>
            <%= f.input :pictures, as: :file, input_html: { multiple: true }, wrapper: :whiistle_file_wrapper  %>
            <div class="ml-auto ">
              <%= f.button :submit, "Whiistle" %>
            </div>
          </div>
          
        <% end %>
        
        <div class="p-4 mt-4 ">
            <%= render "whiistles/whiistles_counter", whiistles: @whiistles %>
            <div id="whiistles">
              <%= render 'whiistles/list_whiistles', whiistles: @whiistles %>
            </div>
        </div>
    </div>
    <div class='w-1/3'>
        <h1 class="py-4 pl-4">Who To Follow</h1>
        <%= render 'users/list_users', users: @suggested_users %>
    </div>
</div>
