<div class='flex grow'>
    <div class='p-4 w-2/3'>
        
        <%= render "whiistles/form", 
                    form_url: whiistles_url, 
                    whiistle: @whiistle,
                    label: "Whiistle something",
                    enable_quoting_whiistle: true,
                    enable_adding_floods: true
        %>
        
        <div class="p-4 mt-4 ">
            <%= render "whiistles/whiistles_counter", whiistles_count: @paginated_whiistles.count %>

            <%= render Shared::InfiniteScrollComponent.new(paginated_records: @paginated_whiistles) do %>
                <%= render @paginated_whiistles.partial_name, whiistles: @paginated_whiistles.records %>
            <% end %>
        </div>
    </div>
    <div class='w-1/3'>
        <h1 class="py-4 pl-4">Who To Follow</h1>
        <%= render Users::UserComponent.with_collection @suggested_users, cur_user: current_user %>
    </div>
</div>
