<div class='center w-100'>
    <%= form_with model: @whiistle do |f| %>
        <%= f.label 'Tweet something' %> <br>
        <%= f.text_area :body, size: "60x12" %>
        <%= f.submit "Create" %>
    <% end %>
    <div>
        <%= @whiistles.size  %> New tweets
    </div>
    <% @whiistles.each do |w|  %>
        <div class='d-flex'>
            <div>
                <%= show_profile_picture(w.user) %>
            </div>
            <div>
                <div>
                    <%= w.user.username %>
                </div>
                <div>
                    <%= w.body  %>
                </div>
            </div>
        </div>
    <% end %>
</div>
<div style='background-color: orange' class='right'>
    <h1>Who To Follow</h1>
    <% @suggested_users.last(3).reverse.each do |user| %>
        <div>
            <%= show_profile_picture(user) %>
        </div>
        <div>
            <%= link_to user.fullname, user_path(user) %>
        </div>
        <div>
            <%= link_to user.username, user_path(user) %>
        </div>
    <% end %>
</div>
