<div class='flex grow'>
  <div class="p-2 w-2/3">
    <% if @whiistle.is_a?(Reply) || @whiistle.is_a?(Flood)  %>
      <div class="border-solid border-second border-l p-2 ">
        <%= render "whiistles/all_parents_until_root", whiistle: @whiistle.whiistle %>
      </div>
    <% end %>

    <div class='p-2'>
      <%= render "whiistles/main_whiistle", whiistle: @whiistle %>
    
      <% if (@whiistle.is_a?(Whiistle) || @whiistle.is_a?(Flood)) && @whiistle.flood.present? %>
        <div class="pl-2 ml-6 border-solid border-l border-l-second border-b ">
          <%= render "whiistles/all_children_floods", whiistle: @whiistle.flood %>
        </div>
      <% end %>
    
      <% if @whiistle.replies.present? %>
        <div class="pl-8">
          <%= render "whiistles/list_whiistles", whiistles: @whiistle.replies %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='w-1/3'>
    <%= render "users/sidebar_right", user: @user, relation: @relation %>
  </div>
</div>
