<%= render "whiistles/whiistles_counter", whiistles: all_whiistles %>
<div 
    data-controller="pagination"
    data-pagination-url-value=<%= url %>
    data-pagination-current-page-value=<%= page %>
    data-pagination-max-page-value=<%= last_page %>
    data-pagination-request-value="false"
>
  <div id="pagination-body">
    <%= render 'whiistles/list_whiistles_with_related_whiistles', whiistles: paginated_whiistles %>
  </div>

  <div
    class="w-full h-32 mt-32 flex justify-center"
    data-pagination-target="loading"
  >
    <%= render "shared/spinner" %>
  </div>
</div>