<div 
  data-controller="pagination"
  data-pagination-url-value=<%= paginated_records.url %>
  data-pagination-current-page-value=<%= paginated_records.page %>
  data-pagination-max-page-value=<%= paginated_records.last_page %>
  data-pagination-request-value="false"
  class="p-4 mt-4">
>
  <div id="pagination-body">
    <%= yield :pagination_body %>
  </div>

  <div
    class="w-full h-32 mt-32 flex justify-center"
    data-pagination-target="loading"
  >
    <%= render "shared/spinner" %>
  </div>
</div>