<div class="text-center mx-auto bg-fourth-color mt-3 rounded p-5">
    <h2 class="h3 my-3 font-weight-normal">Log in to Whistle</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'text-left'}) do |f| %>
        <div class="field">
            <%= f.label :username %><br />
            <%= f.text_field :username, autofocus: true,required: true %>
        </div>
        <%= f.hidden_field :password,value: 'aaaaaa' %>
        <% if devise_mapping.rememberable? %>
            <div class="field py-2">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
            </div>
        <% end %>
        <div class="actions mb-5 d-flex justify-content-end pt-2">
            <%= f.submit "Log in", name:'submit', class: "custom_button w-100" %>
        </div>
        <%= render "devise/shared/links" %>
    <% end %>
</div>
