<div class="flex"> 
  <%= render Whiistles::ReplyButtonComponent.new(whiistle: @whiistle) %>
  <%= render Whiistles::ToggleRewhiistleOrQuoteButtonComponent.new(whiistle: @whiistle, current_user_presenter: @current_user_presenter) %>
  <%= render Whiistles::LikeButtonComponent.new(whiistle: @whiistle, current_user_presenter: @current_user_presenter) %>
</div>

<%= turbo_frame_tag whiistle_reply_form_target(@whiistle) %>
<%= turbo_frame_tag whiistle_quoting_whiistle_form_target(@whiistle) %>
