<%= simple_form_for @whiistle, url: @form_url, html: { class: "w-full" } do |f| %>
  <%= f.input :body, as: :text, label: @label, wrapper: :whiistle_wrapper, input_html: {value: @value || ""} %>

  <% if @quoted_whiistle %>
    <%= f.input :quoted_whiistle_url, as: :hidden, input_html: {value: whiistle_url(@quoted_whiistle)} %>
  <% end %>

  <% if @enable_quoting_whiistle %>
    <%= f.input :quoted_whiistle_url, as: :string, placeholder: "Copy paste the link of a whiistle to quote" %>
  <% end %>

  <div class="w-full flex">
    <%= render Whiistles::FormPicturesButtonComponent.new(form: f) %>
    <div class="ml-auto ">
      <%= f.button :submit, "Whiistle" %>
    </div>
  </div>
  
  <% if @enable_adding_floods %>

    <div data-controller="flood">
      <template data-flood-target='template'>
        <%= f.simple_fields_for :floods, Flood.new, index: 'TEMPLATE_RECORD' do |flood| %>
          <%= render Whiistles::FloodWhiistleFormComponent.new(form: flood) %>
        <% end %>
      </template>

      <div data-flood-target="add_item">
        <%= link_to "Add Flood", "#", data: { action: "click->flood#add_association" }, class: "btn-second w-24 p-2" %>
      </div>
      
    </div>
  
  <% end %>
<% end %>