<div class="my-4">

  <%= render Whiistles::RewhiistleInfoComponent.new(whiistle: @whiistle) %>
  <%= render Whiistles::LikeInfoComponent.new(whiistle: @whiistle) %>

  <div class='flex  <%= check_click(@whiistle) %> '>
    
    <%= render Users::ProfileImageButtonComponent.new(user: @whiistle.user) %>
    
    <div class="pl-2">
      <%= render Whiistles::UserNamesWithTimestampComponent.new(whiistle: @whiistle) %>
      <%= render Whiistles::ReplyInfoComponent.new(whiistle: @whiistle) %>
      <div class="mt-2">
        <%= render Whiistles::BodyAndPicturesComponent.new(whiistle: @whiistle) %>
      </div>

      <%= render Whiistles::ButtonsComponent.new(whiistle: @whiistle, current_user_presenter: @current_user_presenter) %>

      <% if @show_flood_info %>
        <%= render Whiistles::FloodInfoComponent.new(whiistle: @whiistle) %>
      <% end %>

    </div>
  </div>
</div>