<div class="flex w-full">
  <%= link_to user_whiistles_path(@user), class:"hover-image" do %>
    <div class="px-4 py-2 flex w-full">
      <%= render Users::ProfileImageComponent.new(user: @user) %>
      <div class="pl-2 flex flex-col self-center">
        <div class="text-ellipsis">
          <%= @user.fullname %>
        </div>
        <div class=" text-ellipsis">
          @<%= @user.username %>
        </div>
      </div>
    </div>
  <% end %>

  <% unless @cur_user.followings_and_user_ids.include? @user.id %>
    <%= render Users::FollowButtonComponent.new(user: @user) %>
  <% end %>
</div>