  

  <%= simple_form_for @whiistle, url: @form_url, html: { data: { controller: "flood" } } do |form| %>
    <div data-controller="tabs" data-tabs-active-tab="-mb-px border-l border-t border-r rounded-t">
      <ul class="list-reset border-b" data-flood-target="add_item">
        <div class="flex ">
          <div class="m-2 shrink-0">
            <%= render component("users/profile_image", user: @user) %>
          </div>
          
          <div class="mt-4 shrink w-full">
            <li class="-mb-px mr-1" data-tabs-target="tab" data-action="click->tabs#change">
              <%= render component("whiistles/form_body", form: form, label: @label, value: @value, open_modal: @open_modal, modal_path: @modal_path) %>
            </li>
            <div class="hidden py-4 px-4 border-l border-b border-r" data-tabs-target="panel">
          
              <% if @quoted_whiistle %>
                <%= render component("whiistles/quoted_whiistle", whiistle: @quoted_whiistle) %>
                <%= 
                  form.input :quoted_whiistle_url, 
                              as: :hidden, 
                              input_html: {
                                value: whiistle_url(@quoted_whiistle)
                              } 
                %>
              <% end %>
              <% if @enable_quoting_whiistle %>
                <%= 
                  form.input :quoted_whiistle_url, 
                              as: :string, 
                              placeholder: "Copy paste the link of a whiistle to quote"
                %>
              <% end %>
              <% unless @open_modal %>
                <div class="w-full flex">
                  <%= render component("whiistles/form_pictures_button", form: form) %>
                  <div class="ml-auto flex">

                    <% if @enable_adding_floods %>
                      <template data-flood-target='template'>
                        <div class="flex">
                          <div class="m-2 shrink-0">
                            <%= render component("users/profile_image", user: @user) %>
                          </div>
                          <div class="mt-4">
                            <%= render component("whiistles/flood_whiistle_form", main_form: form) %>
                          </div>
                        </div>
                      </template>
          
                      <%= link_to "Add Flood", "#", data: { action: "click->flood#add_association" }, class: "btn-second w-24 p-2  m-4" %>
                    <% end %>

                    <%= form.button :submit, "Whiistle" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      
      </ul>
    </div>

  <% end %>