<div class="sidebar-left bg-first-color h-auto min-vh-100">
    <div class=" d-flex align-items-center p-2 pt-4 ">
        <div class='w-auto pm0 '>
            <%= link_to user_path(current_user),class: "hover-image" do %>
                <%=  current_user.profile_picture.attached? ? image_tag(current_user.profile_picture, size:"50x50") : image_tag('default_profile_picture.png', size:"50x50") %>
            <% end %>
        </div>
        <div class="text-center col ">
            <%= link_to user_path(current_user) do %>
                <%=  current_user.fullname %>
            <% end %>
        </div>
    </div>
    <div class="d-flex px-0 py-3 w-100">
        <div class="w-100 d-flex flex-column align-items-center border border-dark-color p-0 py-2">
            <div class="text-sixth-color" >
                <%=  current_user.followings.size %>
            </div>
            <a href="#">
                Following
            </a>
        </div>
        <div class="w-100 d-flex flex-column align-items-center border border-dark-color p-0 py-2">
            <div class="text-sixth-color">
                <%=  current_user.followers.size %>
            </div>
            <a href="#">
                Followers
            </a>
        </div>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <%= link_to root_path, class:"nav-link" do %>
                <i class="fas fa-house-user"></i>
                HOME            
            <% end %>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-at"></i>
                CONNECT
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-hashtag"></i>
                DISCOVER
            </a>
        </li>
        <li class="nav-item">
            <%= link_to edit_user_registration_path, class: " nav-link " do %>
                <i class="fas fa-user-alt"></i>
                PROFILE
            <% end %>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-chart-pie"></i>
                STATISTICS
            </a>
        </li>
    </ul>
</div>
