<!DOCTYPE html>
<html class="font-sans">
  <head>
    <title>Whistle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main class='flex font-bold'>
      <%= render Layout::LeftSideComponent.new(current_user: current_user) %>
      <div class='center w-full flex flex-col'>
        <%= render 'layouts/header' %>
        <div id="flashes">
          <%= render Layout::NoticeComponent.new(notice: notice) %>
          <%= render Layout::AlertComponent.new(alert: alert) %>
        </div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
