<!DOCTYPE html>
<html class="font-sans">
  <head>
    <title>Whistle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main class='flex font-bold'>
      <%= render Layout::LeftSideComponent.new(current_user: current_user) %>
      <div class='center w-full flex flex-col'>
        <%= render 'layouts/header' %>
        <div id="flashes">
          <%= render Layout::NoticeComponent.new(notice: notice) %>
          <%= render Layout::AlertComponent.new(alert: alert) %>
        </div>
        <div data-controller="modal" data-modal-allow-background-close="true" data-modal-prevent-default-action-opening="false" >

          <%= yield %>

          <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
            <div class="max-h-screen w-full max-w-lg relative">
              <div class="m-1 bg-white rounded shadow">
                <div class="flex justify-start items-center flex-wrap p-4 ">
                  <button class="btn-second rounded-full " data-action="click->modal#close">
                    <i class="bi bi-x-lg p-1"></i>
                  </button>
                </div>
                <div class="p-4">
                  <turbo-frame id="modal-body" >
                  </turbo-frame>
                </div>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </main>
  </body>
</html>
