<!DOCTYPE html>
<html class="font-sans">
  <head>
    <title>Whistle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="w-full">
    <main class='flex font-bold'>
      <%= render component("layout/left_side", current_user: current_user) %>
      <div class='center w-full flex flex-col'>
        <%= render 'layouts/header' %>

        <div class="fixed bottom-0 right-0 inset-x-0 m-4 z-30">
          <div class="relative ">
            <div id="flashes" class="absolute right-0 bottom-0 flex flex-col items-end">
              <%= render component("layout/notice", notice: notice) %>
              <%= render component("layout/alert", alert: alert) %>
            </div>
          </div>
        </div>
        
        <%= render component("shared/modal")do %>
          <%= yield %>
        <% end %>
      </div>
    </main>
  </body>
</html>
