<!DOCTYPE html>
<html>
    <head>
        <title>Whistle</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag "reset" %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/8c7f545978.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%= check_notice %>
        <%= check_alert %>
        <main class='d-flex'>
            <%= show_leftside %>
            <div class='center w-100'>
                <div class='header bg-primary w-100'>
                    <svg
                        width="50"
                        height="50"
                        viewBox="0 0 999.99998 1000"
                        inkscape:version="1.0 (b51213c273, 2020-08-10)">
                        <path style="fill:#000000;stroke:#000000;stroke-width:1.64544px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"       d="m 994.21238,491.02675 c 2.35987,-23.13268 -120.94337,-74.94837 -190.03229,-105.38014 -25.3573,-19.26917 -74.40981,-6.86958 -103.2815,-20.31275 -34.30191,-15.97157 -53.45224,-55.25458 -86.7724,-73.18444 -44.16831,-23.76733 -95.05209,-33.19899 -144.32994,-42.54872 -20.4834,-3.88642 -35.56938,-8.09349 -62.30268,-5.51761 -6.8491,0.65995 -19.97143,11.47244 -14.10635,15.07059 116.58616,71.52443 201.04363,89.82125 201.04363,89.82125 0,0 -136.62048,7.62662 -208.55905,42.56802 -71.93856,34.94139 -227.06293,138.09424 -227.06293,138.09424 0,0 -108.752608,-74.04168 -126.905888,-76.4811 -25.1983201,-3.38617 -45.48668,11.6264 -17.75702,49.92845 45.43271,62.75483 74.47732,42.51047 98.768828,76.27954 7.68157,10.6785 12.43889,24.13718 12.93741,37.28205 1.76284,46.50118 -25.858318,29.18185 -35.649888,134.97527 -1.35072,14.59451 53.806968,25.1345 61.641038,6.03345 27.25266,-66.4465 -3.50933,-86.85313 17.71601,-121.56977 23.18694,-37.92514 64.41526,-66.18922 106.0496,-71.30255 41.63433,-5.11332 315.1892,-0.0959 315.1892,-0.0959 0,0 -57.34186,30.80816 -162.01089,149.14871 -6.91409,7.81721 9.65286,22.13135 19.88548,24.18242 64.84471,12.99776 125.14442,-49.78186 175.34185,-92.83994 25.93774,-22.24872 5.48845,-11.87101 59.50545,-77.37635 17.52514,-21.25237 56.14547,-13.41391 83.53154,-16.37969 57.51221,-6.22831 113.88103,-8.02084 169.16831,-20.30569 51.67127,-11.48136 55.63261,-16.95667 57.99248,-40.08934 z" />
                    </svg>
                </div>
                <div class='bg-danger d-flex'>
                    <%= yield %>
                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
