<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Whistle is a social network website" />
        <meta name="keywords" content="Ruby on Rails, Ruby, Social website" />
        <meta property="og:image" content="https://raw.githubusercontent.com/ozovalihasan/whistle/main-parts/app/assets/images/social-image.jpg"/>
        <title>Whistle</title>
        <%= favicon_link_tag asset_path('logo.png') %>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        
        <script src="https://kit.fontawesome.com/8c7f545978.js" crossorigin="anonymous"></script>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <main class='d-flex'>
            <%= show_leftside %>
            <div class='center w-100 min-vh-100 d-flex flex-column'>
                <%= render 'layouts/header' %>
                <%= check_notice %>
                <%= check_alert %>
                <%= yield %>
            </div>
        </main>
    </body>
</html>
